body {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/background.png") no-repeat;
  background-size: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.header{
  background-color: black;
    height: 70px;
    display: flex;
}